# Virtual Environment
venv/
.venv/
ENV/
env/
Lib/
Scripts/
pyvenv.cfg
share/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# Marimo temp
.marimo-temp/
__marimo__/

# Build artifacts

# Other files
*.ipynb
*.txt
*.md
*.png
*.ico
*.json
*.webmanifest

# Allow necessary files
!README.md
!requirements.txt
!instr.md